
body {
    background-color: darkgrey;
}

div.card {
    margin: 5px;
    width: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: white;
}

div.card a:active {
    background-color: grey;
}

div.card img {
    width: 140px;
    height: 140px;
    overflow: hidden;
}

div.cardcontainer {
    padding: 10px;
}
